@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;900&display=swap');

* {
	margin: auto;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.title {
	letter-spacing: 1.5px;
	font-size: 50px;
	color: #FA787F;
	margin: 25px 0;
}

.gray {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 750px;
	background-color: #2D3E50;
	border-radius: 5px;
	height: 450px;
	margin: 20px auto;
}

p {
	color: white;
	margin: 0;
}

img {
	margin-top: 10px;
	width: 500px;
}

button {
	margin-top: 10px;
	font-size: 16px;
	border: none;
	padding: 10px;
	box-shadow: 5px 5px 5px #888888;
}

button:hover {
	background-color: #FA787F;
}

.kitten-heading {
	color: #208877;
  letter-spacing: 1.5px;
	font-size: 50px;
	margin: 25px 0;
}

.kitten-box {
	 background-color: #F6B329;
   flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 750px;
	border-radius: 5px;
	height: 450px;
	margin: 20px auto;
}

/* // Kitten picture URL: https://icatcare.org/app/uploads/2018/07/Finding-homes-for-your-kittens-1.png
 */